APP_NAME='${app_name}'
APP_ENV=local
APP_KEY=base64:ayd/B9XObmEGqnRQDMBWtPctKQurVVGK4bMbJFM4VkE=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=${mysql_ip}
DB_PORT=3306
DB_DATABASE=${mysql_db}
DB_USERNAME=${mysql_user}
DB_PASSWORD=${mysql_password}
